:root {
    --calc-button-width: 75px;
    --calc-button-height: 70px;
}

.calculator {
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
    max-height: 500px;
    padding: 1px;
    border: 2px solid #5d4e4e;
    margin: auto;
}

.calculator-display {
    position: relative;
    background-color: black;
    width: 100%;
    min-height: 70px;
    max-height: 80px;
    color: white !important;
    padding: 4px 10px;
}

.calculator-display .display-type-line {

}


.calculator-display .value {
    font-size: 20px;
    margin: 0 4px 0 0;
}

.calculator-display .last-value {
    position: absolute;
    font-size: 25px;
    margin: 0;
    bottom: 8px;
    right: 16px;
}

.calculator-button {
    width: var(--calc-button-width);
    height: var(--calc-button-height);
    background-color: #757474;
    border: none;
    color: white;
}

.calculator-button.numpad {
    background-color: #606060;
}

.calculator-button.bigH {
    width: calc(var(--calc-button-width) * 2);
}

.calculator-button.bigV {
    height: calc(var(--calc-button-height) * 2);
}

.calculator-button.clear {
    background-color: #ff0000;
}

.calculator-button.calc {
    background-color: #19198c;
}

/* -------------- */

.vertical {
    height: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.horizontal {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: start;
}
